[Desktop Entry]
Name=ammp
Comment=Simple multimedia player
Comment[pl]=Prosty odtwarzacz multimedialny
Exec=ammp
Icon=ammp
Terminal=false
Type=Application
Categories=GTK;Audio;Player;
# vi:encoding=utf-8
